.titulo-centralizado {
  text-align: center;
}

.titulo-principal {
  padding-left: 20px;
}

body {
}

p {
  font-size: 20px;
  text-align: center;
}

.missao {
  color: red;
}

.banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}
